<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Imap mail{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
       and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container pt-3">
        <div class="row">
            <dl class="row">
                <dt class="col-sm-3">Mail de test:</dt>
                <dd class="col-sm-9">{{ app.request.server.get('MAIL_TARGET') }}</dd>
            </dl>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_label(form.search, 'Search for text in the mail body:') }}
                {{ form_widget(form.search) }}
            </div>
            <div class="col pt-4">
                <button class="btn btn-warning btn-sm" type="submit">Search</button>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="row">
            {% if emails|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Recipient</th>
                        <th scope="col">From</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for email in emails %}
                        <tr>
                            <th scope="row">{{ email.emailNumber }}</th>
                            <td>{{ email.subject }}</td>
                            <td>{{ email.recipient }}</td>
                            <td>@{{ email.from }}</td>
                            <td>@{{ email.dateMail }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
